article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Quicksand', sans-serif;
  position: relative;
}

h1 {
  font-family: 'Six Caps', sans-serif;
  font-weight: lighter;
  font-size: 250pt;
  color: white;
  letter-spacing: 50px;
  margin: 0;
}

h1 span {
  font-size: 200pt;
  position: absolute;
  bottom: 10%;
  right: 12%;
}

@media all and (max-width: 940px) {
  h1 span {
    bottom: 10%;
    right: 5%;
  }
  h2.about {
    top: 5px;
    left: 0px;
  }
  .playerQuestions h2 {
    font-size: 35pt;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 150pt;
    letter-spacing: 15px;
    margin-top: 25px;
  }
  h1 span {
    font-size: 150pt;
    top: 15%;
    right: 5%;
  }
  h2.about {
    font-size: 50pt;
    top: 0;
    left: 0;
  }
}

section.main .flexMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typeDrink {
  background: #85a1fd;
  background-size: cover;
/*  height: 100vh;*/
  margin: 0;
}

.typeDrink h2 {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 40pt;
  border-bottom: 3px solid white;
  width: 80%;
  padding-top: 100px;
  padding-bottom: 15px;
  text-align: center;
}

.typeDrink button {
  border: none;
  background: none;
}

.typeDrink button.startTheGame {
  border: 3px solid white;
  margin: 0 auto;
  padding: 20px;
  margin: 60px;
}

.typeDrink ul.drinkFlex {
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.typeDrink h3.choice {
  text-align: center;
  font-size: 20pt;
  margin-top: 50px;
}

.typeDrink h3.choice .bold {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.flexButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

.main h2 {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 18pt;
  letter-spacing: 8px;
}

.main {
  background: #98CDFF;
  margin: 0;
  padding: 0;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.startButton, .nextButton, .startTheGame, .ready, .endGame {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: white;
  border: 3px solid white;
  padding: 15px;
  letter-spacing: 5px;
  margin: 0 auto;
  margin: 50px 0 20px 0;
  border-radius: 10px;
}

button {
  outline-width: 0px;
  outline: none;
}

.startButton:hover {
  background: white;
  color: #98CDFF;
}

.startButton:hover a {
  color: #98cdff;
}

.nextButton:hover {
  background: white;
  color: #98b5fe;
}

.nextButton:hover a {
  color: #98b5fe;
}

.startTheGame:hover {
  background: white;
  color: #85a1fd;
}

.startTheGame:hover a {
  color: #85a1fd;
}

.ready:hover {
  background: white;
  color: #9FD2FF;
}

.endGame:hover {
  background: white;
  color: #9FD2FF;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 25px;
  cursor: pointer;
}

a a:visited {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.playerQuestions {
  background: #98b5fe;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.playerQuestions h2 {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 40pt;
  border-bottom: 3px solid white;
  width: 60%;
  padding-top: 100px;
  padding-bottom: 15px;
}

h2.question {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 40pt;
  border-bottom: 3px solid white;
  padding-top: 100px;
  padding-bottom: 15px;
  margin: 0;
}

select {
  background: white;
  color: #98b5fe;
  border: none;
  font-size: 16pt;
  width: 50px;
  height: 50px;
  margin-top: 50px;
}

.flexPlayer {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.player {
  font-weight: lighter;
  font-size: 18pt;
}

.player input {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  height: 20px;
  width: 160px;
  color: white;
  padding: 20px;
  width: 250px;
}

h3 {
  font-weight: 500;
  padding-top: 50px;
}

input {
  text-align: center;
}

input:focus {
  outline: none;
}

svg {
  height: 200px;
  width: 200px;
  fill: white;
}

.flexParent {
  display: flex;
  justify-content: space-around;
}

section.questions {
  background: #9FD2FF;
  background-size: cover;
  height: 100vh;
}

h2.question {
  width: 75%;
  font-size: 35pt;
  text-align: center;
  margin: 0 auto;
}

h2.about {
  font-family: "Six Caps", sans-serif;
  font-size: 60pt;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 50px;
  padding: 0;
  margin: 0;
}

.hiddenBox {
  width: 400px;
  background: white;
  position: absolute;
  top: 10%;
  left: 35%;
  right: 35%;
  padding: 10px;
  display: none;
}

.hiddenBox p {
  color: #98CDFF;
  margin: 0;
  font-weight: 600;
  padding: 40px;
  line-height: 30px;
  text-align: center;
  border: 4px solid #98CDFF;
}

i {
  color: #98CDFF;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 80pt;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

h2.yourQuestion {
  text-align: center;
  font-weight: 500;
  color: white;
  font-size: 30pt;
  padding: 25px;
}

.btn_game {
  background: transparent;
  padding: 20px;
  border: 3px solid white;
  color: white;
  margin: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: 5px;
}

.btn_game:hover {
  background: white;
  color: black;
  border: 3px solid black;
}

.flexOptions {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 20px;
  margin: 0 auto;
}

.box_right, .box_wrong, .box_stop {
  position: absolute;
  padding: 20px;
  border-raduis: 5px;
  top: 20%;
  left: 35%;
  right: 35%;
  display: none;
  text-align: center;
  font-size: 20pt;
  width: 400px;
}

.box_wrong {
  background: tomato;
  color: white;
  border: 4px solid white;
}

.box_right {
  background: #fd3bb6;
  color: white;
  border: 4px solid black;
}

.box_right button {
  background: white;
  color: black;
  border: 3px solid black;
}

.box_right button button:hover {
  background: black;
  color: white;
}

.box_right button:hover {
  color: black;
}

.box_wrong button:hover {
  color: tomato;
}

.box_stop {
  background: white;
  color: black;
  border: 4px solid black;
}

h3.choice {
  padding: 10px;
}

  @media all and (max-width: 1024px) {
    h1 span {
      right: 50px;
      bottom: 100px;
    }
      .playerQuestions h2 {
      font-size: 35pt;
    }
    .typeDrink h2 {
      font-size: 35pt;
    }
    .btn_game {
      font-weight: bold;
    }
    button {
      font-weight: bold;
    }
  }

  @media all and (max-width: 768px) {
    h1 {
      font-size: 170pt;
      padding-top: 100px;
      padding-left: 50px;
    }
    .flexMain h2 {
      font-weight: 600;
      padding-top: 100px;
    }

    h1 span {
      top: 250px;
      right: 10px;
      font-size: 150pt;
    }

    h2.about {
      left: 15px;
    }

    .playerQuestions h2 {
      font-size: 25pt;
    }
    .playerQuetions {
      padding-top: 100px;
    }

    .flexPlayer {
      flex-direction: column;

    }
    .flexPlayer input {
      width: 400px;
    }

    .typeDrink {
      height: 100vh;
      background-size: cover;
    }

    .options {
      display: flex;
      flex-direction: column;
    }
    .btn_game {
      font-size: 16pt;
    }

    .box_right, .box_wrong, .box_end {
      left: 185px;
      top: 250px;
    }
    .hiddenBox {
      left: 150px;
      top: 140px;
      width: 500px;
      font-size: 17pt;
    }

    .hiddenBox p {
      line-height: 35px;
    }
  }

  @media all and (max-width: 667px) {
    h1 {
      font-size: 140pt;
      letter-spacing: 25px;
      padding-top: 0px;
      padding-left: 150px;
      margin-top: 0;
    }
   h2.about a {
    font-size: 50pt;
    margin: 0;  
    right
    }
    body {
      position: relative;
    }
    h2.about {
      position: absolute;
      left: 0;
    }

    .hiddenBox {
      width: 600px;
      font-size: 12pt;
      left: 35px;
      top: 35px;
    }
    .hiddenBox p {
      line-height: 20px;
    }

    h1 span {
      font-size: 140pt;
      top: 80px;
      right: 60px;
    }

    .main h2 {
      padding: 0;
      font-size: 10pt;
      letter-spacing: 3px;
      padding-left: 170px;
      margin-top: 0;
    }

    .startButton {
      font-size: 10pt;
      margin-top: 10px;
      padding: 5px;
      margin-left: 260px;
      border: 2px solid white;

    }
    .playerQuestions h2 {
      font-size: 20pt;
      padding-top: 20px;
    }

    select {
      margin-top: 10px;
    }

    .playerQuestions input {
      width: 200px;
    }

    .flexPlayer {
      display: flex;
      flex-direction: row;
     /* align-items: center;*/
      /*justify-content: space-between;*/
    }
      .player{
      border: 1px solid black;
      width: 33.3333%;
      display: inline;
    }

    .player h3 {
      font-size: 16pt;
     
    }
  }


